$color-primary-green: #00cc88;
$color-primary-bluegreen: #00cccc;

$color-lightgreen: #33ffbb;
$color-comp-red: #cc0044;
$color-green: #00cc44;

$color-grey-dark: #666;
$color-white: #fff;
$color-black: #000;
